---
//component import
import MainHead from './MainHead.astro';

const {title="My Astro Blog", 
description="Astro frameowrk"
} = Astro.props as Props;
---

<html lang="en">
	<MainHead title={title} description= {description}/>
    <body>
        <slot> Default text </slot>
    </body>
</html>